ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5dcc5d;
  height: 130px;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5dcc5d;
  height: 60px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover:not(.active) {
  background-color: rgb(52, 214, 52);
}

.adminBackground {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

.image {
  height: 13vh;
  margin-right: -20px;
  border-radius: 100px;
}

.adminBackground {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 320px;
  min-height: 40vh;
}

.adminBackground h2 {
  font-size: 24px;
}

.information {
  text-align: left;
  margin-left: 30px;
}

.details {
  font-size: 16px;
}

.details td {
  padding: 5px 0;
}

.details strong {
  font-weight: bold;
  margin-right: 10px;
}

.logout {
  background-color: rgb(228, 98, 98);
}

.logout:hover {
  text-decoration: underline;
}


@media (max-width: 668px) {
  ul {
    height: auto;
  }

  li {
    float: left;
    width: 30%;
    text-align: left;
  }

  li a {
    padding: 10px 0;
  }

  .adminBackground {
    max-width: 80%;
 
  }
}