
.categoryData button {
  color: white;
  padding: 6px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 10px; 
  width: auto;
}

.tableContainer {
  height: 370px; 
  overflow-y: auto; 
  margin-top: 20px;
}
.no-category{
  margin-top: 150px;
}
.tableData {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 400px; 
  /* overflow-y: auto; */
}

.headData {
  background-color: #5dcc5d;
  color: white;
}

.rowData th,
.rowData td {
  padding: 15px;
  text-align: middle;
  border-bottom: 1px solid black;
}
.action-style{
  width:100px
}


.bodyData tr:nth-child(even) {
  background-color: #f2f2f2;
}

.deleteData {
   background-color: #ff5959;
   margin-top: 10px;
  font-family:  'Times New Roman';

}

.deleteData:hover {
  background-color: #ff3333;
}

.updateData {
  background-color: #5dcc5d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
 
}

.updateData:hover {
  background-color: #4da94a;
}

.addButton {
  background-color: #5dcc5d;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  float: left;
  margin-right: 10px;
}

.searchButton {
  background-color: rgb(93, 204, 93);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: rgb(72, 166, 72);
}

.searchContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.search {
  border: none;
  border-bottom: 2px solid rgb(93, 204, 93);
  padding: 5px;
  outline: none;
  width:auto;
  margin-right: 10px;
}

.bodyData td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 20px;
}
.delete-icon{
  font-Size: 12px;
 
}
.update-icon{
  font-Size: 12px;
  vertical-align: middle;
}

@media (max-width: 1000px) {
  .addButton {
  
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .searchContainer {
    flex-direction: column;
    align-items: center;
  }

  .search {
    width: auto;
    margin-bottom: 3px;
  }

  .searchButton {
    width: 100%;
    margin-bottom: 7px;
  }
}


@media (max-width: 768px) {
  .searchContainer {
    align-items: center;
  }

  .search {
    width: auto;
  }
}
/* @media (max-width:694px){
  .categoryData button{
    font-size: 14px;
  }
} */

