*/ .userform {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.signUp {
    width: 90%;
    max-width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding: 30px;
    border-radius: 8px;
    background-color: rgb(131, 179, 131);
    margin: 10px auto;
}

.values {
    width: 100%;
    height: 32px;
    border-radius: 6px;
}

.submit {
    width: 100%;
    padding: 10px;
    margin: -90px 0px 20px;
    border-radius: 5px;
    background-color: #5dcc5d;
    cursor: pointer;
    color: white;
}

.details {
    margin-top: 15px;
}
.side{
    float: left;
}

.gen {
    display: flex;
    align-items: flex-start;
    margin: px;
    margin-left: 20px;
}

.gen2 {
    margin-left: 40px;
}
.show-password2{
    position:absolute;
    top:65%;
    right: 16px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    font-size: medium;
    width: 10px;
  }
  .password-container2{
    position: relative;
  }
@media screen and (min-width: 768px) {
    .gen2 {
        margin-right: 0px;
        margin-bottom: 51px;
    }
    .role {
        margin-right: 280px;
    }
    .submit {
        margin:-10px 0px 20px;
    }
}

.anchor1 {
    margin-top: 10%;
    text-decoration: none;
}

@media screen and (max-width:480px) {
    .signUp {
        max-width: 100%;
        margin: 10px;
        padding: 15px;
    }

    .gen2 {
        margin-left: 0px;
    }

    .role {
        margin-left: 0;
    }

    .values {
        height:25px;

    }
    .side {
        float: left;
    }
    .show-password2{
        top:65%;
    }

    .submit {
        margin-top: 15px;
    }
}

