*/
 .user {
    display: flex;
   
}

.signUp {
     width: 100%; 
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding: 30px;
    border-radius: 8px;
    background-color: white;
    margin: 10px auto;
}

.values {
    width: 100%;
    height: 32px;
    border-radius: 6px;
    padding-left: 8px;
    outline: 0px;
    margin-left: -10px;
}

.submit {
    width: 100%;
    padding: 10px;
    margin: -90px 0px 20px;
    border-radius: 5px;
    background-color: #5dcc5d;
    cursor: pointer;
    color: white;
    margin-top: 15px;
}

.details {
    margin-top: 15px;
}
.side{
    float: left;
}
.gender{
    display: flex;
}
.gen2{
    margin-left: 50px;
}


.show-password2{
    position:absolute;
    top:40%;
    right: 16px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    font-size: medium;
    width: 10px;
  }
  .password-container2{
    position: relative;
  }
@media screen and (max-width: 768px) {
    
    .role {
        margin-right: 280px;
    }
    .submit {
        margin-top: 15px;
    }
}
.values::-webkit-calendar-picker-indicator {
   margin-right: 14px;
  }
.anchor1 {
    margin-top: 10%;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.userData{
   
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:750px;
        flex-direction: column;
        background-color:#A8DF8E ;
      
}

@media screen and (max-width:480px) {
   
    .signUp {
        max-width: 90%;
        
        padding: 15px;
    }
    .gender{
        display: flex;
    }
    .gen2{
        margin-left: 20px;
    }
   
    .role {
        margin-left: 0;
    }

    .values {
        height:25px;

    }
    .side {
        float: left;
    }
    .show-password2{
        top:40%;
    }

    .submit {
        margin-top: 15px;
    }
}
@media screen and (max-width:344px) {
    .signUp {
        max-width: 70%; 
        padding: 15px;
    }
}
@media screen and (max-width:820px) {
    .userData{
        height:900px
    }
}

